@page
@using System.Security.Claims
@model ProjectModel
@{
    ViewData["Title"] = "Projects";
}
<div class="mb-4">
    @if (User.Identity.IsAuthenticated)
    {
        <a class="btn btn-success" asp-page="New">New Project</a>
    }
</div>

@if (Model.Projects.Count > 0)
{
    <ul class="list-unstyled d-flex flex-column gap-2 ">
    @foreach (var project in Model.Projects)
        {
            <li class="rounded border p-2">
                <a class="text-reset" asp-page="Issues/Index" asp-route-projectId="@project.Id">
                    @project.Name
                </a>
                <div style="font-size: smaller;" class="text-muted d-flex gap-2">
                    @project.Description
                </div>
            </li>
        }
    </ul>
}
else
{
    <h1 class="text-center">There are no projects 😓</h1>
}