@model EditIssueBase

<div class="mb-3">
    <label class="form-label" asp-for="Title"></label>
    <input class="form-control" asp-for="Title">
    <span asp-validation-for="Title"></span>
</div>
<div class="mb-3">
    <label class="form-label" asp-for="Description"></label>
    <textarea rows="8" class="form-control" asp-for="Description"></textarea>
    <span asp-validation-for="Description"></span>
</div>
<div class="mb-3">
    <label class="form-label" asp-for="Status"></label>
    <select class="form-control" asp-for="Status" asp-items="Html.GetEnumSelectList<Issue.IssueStatus>()"></select>
    <span asp-validation-for="Status"></span>
</div>
<div class="mb-3">
    <label class="form-label" asp-for="StoryPoints"></label>
    <input class="form-control" asp-for="StoryPoints">
    <span asp-validation-for="StoryPoints"></span>
</div>
<button type="submit" class="btn btn-primary">Submit</button>